<router-outlet></router-outlet>
<h1 class="text-center mt-4">MY FAVOURITE INSPIRATIONAL QUOTES</h1>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-8">
      <h3>My Quotes</h3>
    
        <app-quote></app-quote>
        <div class="cards">
          <div class="card" style="width: 24rem;">
            <div class="card-body">
              <h4 class="card-title">
                <button class="btn btn-info btn-sm" id="quotes-button">See More</button>
              </h4>
              <p class="card-text" id="param"></p>
              <span class="card-subtitle mb-2">Posted by: <span id="name"></span><span id="date">on: <span
                    id="datecolor"></span></span></span>

            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <h3>My Form</h3>
      </div>
    </div>


  </div>
