
<h2 class="text-center mt-4">INSPIRATIONAL QUOTES</h2>
<p class="text-center">Many of us resort to reading a motivational or inspirational quote to spur us on, ‘when the going gets tough’". </p>
<p class="text-center">Motivational quotes provide us with a quick and timely burst of wisdom to get our focus back, offering the inspiration needed for the day or occasion.</p> 
<p class="text-center">Get inspired and add yours'too</p>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-8">
      <h3 class="text-center">Quotes</h3>
        <div class="cards-column p-4" >
          <div *ngFor="let quote of myQuotes; let i=index" class="card mb-4 w-100" style="width: 24rem;">
            <div class="card-body">
              <h4 class="card-title" appHighlight>{{quote.title}} </h4>
              <p class="card-text" id="param">{{quote.quote}} </p>
                 <!-- <span class="card-subtitle mb-2 p-4" >Posted by :{{quote.userName}} <span id="name"></span><span id="date"> Date: {{quote.datePosted}}
                <span id="datecolor"></span></span></span> -->

                <button id="btn1"(click)="upvote(i)"> <i class="far fa-thumbs-up"></i>upvote {{quote.upvotes}}</button> <button id="btn2"(click)="downvote(i)">downvote {{quote.downvotes}}<i class="far fa-thumbs-down"></i></button><button (click)="deletequote(i)" class="delete">Delete</button>
                <app-quote-details [quote]="quote"></app-quote-details>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        
        <app-quote-form (addQuote)="onAddQuote($event)"></app-quote-form>
      </div>
    </div>


  </div>
